<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">ROBOTS! (4/2/13, 7pm) with Ted Layher and Kealy Opelt</h3>

        <p>	Developers never get to play with the cool toys! Now’s your chance, this session explores architectural
            layering and unit testing strategies for an application that controls a robot. Frequently teams that
            unit test use mock objects to fake up parts of the code that are not the focus of the test. When a layer
            is created for the robot’s hardware it can be utilized for better unit tests and running the application
            without the hardware. Come get hands on and learn about these techniques using a Lego® Mindstroms® NXT
            robot and your pair partner. You can RSVP
            <a href="http://www.facebook.com/events/561098473913790/">here</a>, if you like!</p>

        <h3 class="heading">About Ted Layher!</h3>

        <p> Ted is currently a software developer at Menlo Innovations with 8 years experience in agile projects. His
            professional computer career started in the middle of the dot com bubble and has survived despite several
            company’s best efforts. His career began as a unix systems administrator working for a large automotive
            corporation and several small local companies. He has enjoyed evolving into a software developer. Ted
            brings an interesting mix of operational, systems knowledge and Test Driven Development skills to the team.
            He influences the team through excellent coaching skills.</p>

        <h3 class="heading">About Kealy Opelt!</h3>

        <p> Kealy Opelt is a Software Developer for Menlo Innovations with over eight years focused work on Agile
            projects. Working in an Agile environment has created a love and commitment to the Agile team practices
            for Kealy. Her commitment made instruction an easy transition at Menlo Innovations teaching Agile
            philosophies and practice. Kealy has presented her experience on Agile teams for over six year at national
            and Mid-West conference. With her passion for XP she continues to expose others to XP and agile. Prior to
            working with Menlo Innovations, Kealy attended Michigan Technological University, where she received her
            Bachelor’s in Computer Engineering while participating in team projects and tutoring.</p>

        <p>In addition to <a href="http://www.pillartechnology.com">Pillar Technology</a>, who sponsors us by giving
            us a place to meet, we are also sponsored by <a href="http://detroitlabs.com/">Detroit Labs</a>, who will
            be buying us food!</p>

        </p>If you want to submit a talk proposal for Craftsman Guild, you can do it
        <a href="https://docs.google.com/forms/d/1CCTJ2kjZPrEkCQG6lSqjS7U9MIGd9fELBal1-cbZsMM/viewform">here</a>.</p>
    </div>
</div>

<div class="row-fluid index-footer">
    <div class="about span4">
        <h3 class="heading">About Us!</h3>

        <p>We're a group of programmers who meets up to talk about anything related to programming, usually with an
            emphasis on TDD and clean code! Anything that helps us learn, grow, and teach with regards to software. We
            meet every other Tuesday at 7:00pm at <a href="http://forge.pillartechnology.com">The Forge</a>. We also
            have a <a href="http://groups.google.com/group/craftsman-guild">Google Group</a> if you'd like to join!</p>
    </div>
    <div class="donate span4">
        <h3 class="heading">Sponsors</h3>

        <p>Craftsman Guild is sponsored by <a href="http://detroitlabs.com/">Detroit Labs</a> and
            <a href="http://pillartechnology.com/">Pillar Technology</a>. Without their generous contributions,
            Craftsman Guild wouldn't be cozy experience we all know and love. Thank you, Detroit Labs & Pillar
            Technology!
        </p>
    </div>
    <div class="twitter span4">
        <a class="twitter-timeline" href="https://twitter.com/CraftsmanGuild" data-widget-id="304022224862593024">Tweets
            by @CraftsmanGuild</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    </div>
</div>
