<ul>
    <li class="resource"><a class="resource_heading" href=""></a>

        <p class="resource_description"></p></li>
    <li class="resource"><a class="resource_heading" href=""></a>

        <p class="resource_description"></p></li>
</ul>
