<div class="topic">
    <div class="topic-info"><h4 class="heading">Play framework with Scala, pt. 2</h4>
        <h6 class="heading">Nathan Dotz</h6>

        <p>We're going to collaboratively reimplement as much of a social networking site that may or may
            not be based on the sounds that a bird makes as we have time for using the Play framework. Then
            we'll see how to get that site up and running on Heroku
        </p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">Cards Against Humanity</h4><h6 class="heading">Everyone</h6>

        <p>Let's just play CAH for a few hours. We all work hard, let's take a mini-vacation. :D</p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">Dealing with RSI</h4><h6 class="heading">Jon Radon</h6>

        <p>Soft topic and it'd probably be well under 2 hours. Talk about repetitive strain injuries and
            some tips for dealing with them. Share some stories if other people have experienced issue.
            Disclaimer: IANAD</p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">Build a website with Seaside</h4>
        <h6 class="heading">Richard Green</h6>

        <p>Seaside is Smalltalk web development framework.
            Richard will walk through Seaside Smalltalk code for a simple website.</p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">Continue building iOS CG voter app randoori style</h4>
        <h6 class="heading">Craftsman Guild</h6>

        <p>We had a lot of fun building this iOS app today, and we are learning stuff. Let's keep doing
            it.</p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">Random git shit</h4><h6 class="heading">Magnus Stahre</h6>

        <p>Random git shit</p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">Designing the Next Business Programming Language</h4>
        <h6 class="heading">Richard Green</h6>

        <p>If you want to program a computer, use a computer programming language.
            <br>If you want to program a business, use a <i>business</i> programming language.
            <a href="http://s3.amazonaws.com/simple-english/InventingTheFutureNotes.pdf">
                [Presentation]
            </a>
            <a href="http://s3.amazonaws.com/simple-english/index.html">
                [web site]
            </a></p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">code attack!</h4><h6 class="heading">amber</h6>

        <p>like a mini code retreat, but if we say that, it starts a flame war on the internet</p></div>
</div>
<div class="topic">
    <div class="topic-info"><h4 class="heading">HACK ON THE WEBSITE!!</h4><h6 class="heading">Everyone!</h6>

        <p>Use the website as a real world project to learn whatever you have been meaning to learn, but
            haven't really had a real project to learn with.</p></div>
</div>

